
@import url('https://fonts.googleapis.com/css?family=Asap:400,500,700');

body{
  background-image: url("../Images/NewbACK.jpg");
  background-size: cover;
  color: whitesmoke;
  font-size: 20px;
  font-weight: bolder;
  }
  header h1{
    font-family: Asap, sans-serif;
    text-align: center;
    color: wheat;
  }
 
.badge {
  background: darkslategray;
  color: white;
  font-size: 14px;
  padding: 3px 50px;
  font-family: Asap, sans-serif;
}
#user1-label {
  position: absolute;
  top: 30px;
  left: -140px;

}
#user2-label {
  position: absolute;
  top: 30px;
  right: -140px;
}
form {
  text-align: center;
}
.button {
  text-align: center;
  margin: 20px auto;
}
 #new-game{
   color: blue;
 }
 .turn1{
   display: none;
 }
 .turn2{
   display: none;
 }