

header h1{
  font-family:Georgia, 'Times New Roman', Times, serif;
  
}
html{
  background-image: url("../Images/NewbACK.jpg");
  background-size: cover;
  color: whitesmoke;
  font-size: 20px;
  font-weight: bolder;
  

}